@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto");

#banner {

  background: url("../../images/banner.jpg") center center;
  background-size: cover;
  color: #fff;
  cursor: default;
  text-align: center;
  height: 100vh;
  overflow: hidden;
}

#banner .inner {
  position: relative;
  background: rgba(103, 144, 229, 0.95);
  color: #fff;
  display: inline-block;
  opacity: 0.95;
  padding: 50px;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);

}

#banner .inner header {
  display: inline-block;
  margin-bottom: 30px;
}

#banner .inner header h2 {
  border-bottom: solid 2px;
  font-size: 5em;
  font-weight: 900;
  letter-spacing: 0.2em;
  margin: 0;
  padding-left: 0.05em;
  position: relative;
  text-transform: uppercase;
  text-align: center;
}

#banner .inner p {
  letter-spacing: 0.1em;
  margin: 0;
  text-transform: uppercase;
  font-family: 'Roboto';
  line-height: 30px;
}

#banner .inner p a {
  color: inherit;
  font-weight: 400;
  text-decoration: none;
  text-align: left;
}

#banner .inner footer {
  margin: 2em 0 0 0;
}

.icon {
  position: relative;
  text-align: center;
}

.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

.icon.circle {
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border: 0;
  border-radius: 100%;
  display: inline-block;
  font-size: 1.25em;
  height: 2.25em;
  left: 0;
  line-height: 2.25em;
  text-align: center;
  text-decoration: none;
  top: 0;
  width: 2.25em;
}

.icon.circle:hover {
  top: -0.2em;
}

.icon.circle.fa-instagram {
  background: #70aecd;
  color: #fff;
}

.icon.circle.fa-instagram:hover {
  background: #7fb7d2;
}

.icon.circle.fa-facebook {
  background: #7490c3;
  color: #fff;
}

.icon.circle.fa-facebook:hover {
  background: #829bc9;
}

.icon.circle.fa-pinterest {
  background: #db6b67;
  color: #fff;
}

.icon.circle.fa-pinterest:hover {
  background: #df7b77;
}
.icon.featured {
  cursor: default;
  display: block;
  margin: 0 0 1.5em 0;
  opacity: 0.35;
  text-align: center;
}

.icon.featured:before {
  font-size: 5em;
  line-height: 1em;
}

.icon>.label {
  display: none;
}

ul.icons {
  cursor: default;
  text-align: center;
}

ul.icons li {
  display: inline-block;
  line-height: 1em;
  padding-left: 0.5em;
  padding-top: 40px;
}

ul.icons li:first-child {
  padding-left: 0;
}

ul.featured-icons {
  cursor: default;
  margin: -0.75em 0 0 0;
  opacity: 0.35;
  overflow: hidden;
  position: relative;
}

ul.featured-icons li {
  display: block;
  float: left;
  text-align: center;
  width: 50%;
}

ul.featured-icons li .icon {
  display: inline-block;
  font-size: 6.25em;
  height: 1.25em;
  line-height: 1.25em;
  width: 1em;
}
#mc_embed_signup {
  text-align: center;
  border: solid 1px #ffffff;
  color: #ffffff;
  font-family: "Roboto";
  padding: 20px 20px;
}

#mc_embed_signup h2 {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding-bottom: 20px;
}
#mc_embed_signup input {
  border: medium none;
  font-size: 14px;
  border: 1px solid #dfdfdf;
  margin-bottom: 10px;
  padding: 4px 5px;
}
#mc_embed_signup input.email {
  width: 70%;
  margin-bottom: 20px;
}
#mc_embed_signup input[type="submit"] {
  background: #0D5CBD;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  padding: 8px 0;
  box-sizing: border-box;
  text-align: center;
  width: 134px;
  font-size: 12px;
}
